@media print {

    header,
    .navbar,
    .page-head,
    .btn,
    .control-input {
        display: none !important;
    }

    body {
        background: white !important;
    }

    table {
        font-size: 12px;
    }
}
